<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="@{/students}">Student Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@{/students}">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>

    <div class="container">
        <div class="row">
            <h1>List Students</h1>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/students/new}" class="btn btn-primary btn-sm mb-3"> Add Student</a>
            </div>
        </div>
        <table class="table table-dark table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Student First Name</th>
                    <th>Student Last Name</th>
                    <th>Student Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student: ${students}">
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.email}"></td>
                    <td>
                        <a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary">Update</a>
                        <a th:href="@{/students/{id}(id=${student.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>